<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ path('homepage') }}">AddressBook</a>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ path('app_contact_list') }}" data-toggle="dropdown">
            Contacts
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('app_contact_list') }}">List</a>
            <a class="dropdown-item" href="{{ path('app_contact_add') }}">Add</a>
            <div class="dropdown-divider"></div>
            {{ listEntity('company') }}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ path('app_company_list') }}" data-toggle="dropdown">
            Companies
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('app_company_list') }}">List</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
